header{
    font-size: 20px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: solid;
    padding: 10px;
    margin: 10px 10px;
}

img{
    float: inline-block;
    padding: left 15px ;
    width: 30%;
    margin: 10/6;
}
nav>ul>li{
    display:inline-block ;
    padding: 10px 3px;
    font-size: 10px;
}

ul{
    align-items: center;
}
@media screen and (min-width: 480px) {
    body {
        background-color: rgb(255, 0, 0);
    }
}
.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 400px;
    height: 250px;
}

.flex-item {
    width: 1000px;
    height: 1000px;
    margin: auto;
}