body{
    background-color:#bdc3c7;
}

h1{
    color:#9b59b6;
}

h2{
    color: orange
}

li{
    color: #0033cc;

    
}

p{
    background-color: yellow;
}

input{
    border-color: red; width: 3px ;
}

.hello{
    background-color: white;
}

#special{
    border: solid; background-color: rgb(13, 13, 112);
}

div>p{
    font-size: 25px
}
 input[type=text]{
     background-color: gray;
 }

 div:nth-child(3) p :nth-child(1){
     background-color: pink;
 } 
 div:nth-child(3) p :nth-child(2){
     background-color: white;
     border: 5px;
 }
 div :nth-child(3) em{
     color: white; font-size: 20px;
 } 